.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Board{
  margin-top:-5px
}
.h1{
  position:absolute;
}
.nav{
  background-color: #fc0a16;
  padding-bottom:2px;
}


.pokediv{
  
  
}
.pokeball{
  position:absolute;
  left: 275px;
  top: 15px;
  height: 50px;
  width: 50px;
}
.pokemonPic{
  height: 100px;
  width: 100px;
  padding: 10px;
}
.pokemonPic:hover{
  transition: transform .5s ease-in-out;
  transform: scale(1.05)
}
.row{
  margin-left: 18%;
  width: 775px;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: double black 3px;
  
}
.row1{
  height: 30px;
  length: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 15px
}
.score{
  margin-bottom: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
